{% extends 'base-front.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Nos Equipements</h1>
                    <p class="lead fw-normal text-white-50 mb-0"></p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for i in tabclass %}

                        <div class="col mb-3">
                            <div class="card h-100">
                                <!-- Product image-->

                                <img class="card-img-top" src="{{ asset ('uploads/' ~ i.image ) }}" alt="..."  border="none"/>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->

                                        <!-- Product price-->

                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('listequipement',{'id':i.id}) }}">{{ i.name }}</a></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div></div></section>


<br><br> <br><br>





<script type="text/javascript">
    var vsid = "kc238930728f295";
    (function() {
        var vsjs = document.createElement('script'); vsjs.type = 'text/javascript'; vsjs.async = true; vsjs.setAttribute('defer', 'defer');
        vsjs.src = 'https://www.leadchatbot.com/vsa/chat.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(vsjs, s);
    })();
</script>





<div class="example-wrapper">






{% endblock %}
